swagger: '2.0'
info:
  title: SharePoint with Graph
  description: 'This API allows interaction with SharePoint sites using Microsoft Graph.'
  version: '1.0'
host: graph.microsoft.com
basePath: /v1.0/
schemes:
  - https
consumes: []
produces: []
paths:
  /sites/{tenantPrefix}.sharepoint.com:/{sitePath}/{siteName}/:
    get:
      summary: Site Information
      description: This endpoint provides information about a SharePoint Site.
      operationId: SiteInformation
      parameters:
        - $ref: '#/parameters/tenantPrefix'
        - $ref: '#/parameters/siteName'
        - $ref: '#/parameters/sitePath'
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              '@odata.context':
                type: string
                description: OData context URL
                x-ms-summary: OData Context
                x-ms-visibility: important
              createdDateTime:
                type: string
                description: The date and time the site was created
                x-ms-summary: Created DateTime
                x-ms-visibility: important
              description:
                type: string
                description: The description of the site
                x-ms-summary: Description
                x-ms-visibility: important
              id:
                type: string
                description: The unique identifier of the site
                x-ms-summary: Site ID
                x-ms-visibility: important
              lastModifiedDateTime:
                type: string
                description: The date and time the site was last modified
                x-ms-summary: Last Modified DateTime
                x-ms-visibility: important
              name:
                type: string
                description: The name of the site
                x-ms-summary: Name
                x-ms-visibility: important
              webUrl:
                type: string
                description: The URL of the site
                x-ms-summary: Web URL
                x-ms-visibility: important
              displayName:
                type: string
                description: The display name of the site
                x-ms-summary: Display Name
                x-ms-visibility: important
              root:
                type: object
                properties: {}
                description: Root information of the site
                x-ms-summary: Root
                x-ms-visibility: important
              siteCollection:
                type: object
                properties:
                  hostname:
                    type: string
                    description: The hostname of the site collection
                    x-ms-summary: Hostname
                    x-ms-visibility: important
                description: Site collection information
                x-ms-summary: Site Collection
                x-ms-visibility: important
  /sites/{siteID}/drives:
    get:
      summary: Site Drives
      description: This returns a list of the drives for a SharePoint Site
      operationId: SiteDrives
      parameters:
        - $ref: '#/parameters/siteID'
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              '@odata.context':
                type: string
                description: OData context URL
                x-ms-summary: OData Context
                x-ms-visibility: important
              '@microsoft.graph.tips':
                type: string
                description: Microsoft Graph tips
                x-ms-summary: Graph Tips
                x-ms-visibility: important
              value:
                type: array
                items:
                  type: object
                  properties:
                    createdDateTime:
                      type: string
                      description: The date and time the drive was created
                      x-ms-summary: Created DateTime
                      x-ms-visibility: important
                    description:
                      type: string
                      description: The description of the drive
                      x-ms-summary: Description
                      x-ms-visibility: important
                    id:
                      type: string
                      description: The unique identifier of the drive
                      x-ms-summary: Drive ID
                      x-ms-visibility: important
                    lastModifiedDateTime:
                      type: string
                      description: The date and time the drive was last modified
                      x-ms-summary: Last Modified DateTime
                      x-ms-visibility: important
                    name:
                      type: string
                      description: The name of the drive
                      x-ms-summary: Name
                      x-ms-visibility: important
                    webUrl:
                      type: string
                      description: The URL of the drive
                      x-ms-summary: Web URL
                      x-ms-visibility: important
                    driveType:
                      type: string
                      description: The type of the drive
                      x-ms-summary: Drive Type
                      x-ms-visibility: important
                    createdBy:
                      type: object
                      properties:
                        user:
                          type: object
                          properties:
                            email:
                              type: string
                              description: The email of the user who created the drive
                              x-ms-summary: Email
                              x-ms-visibility: important
                            id:
                              type: string
                              description: The ID of the user who created the drive
                              x-ms-summary: User ID
                              x-ms-visibility: important
                            displayName:
                              type: string
                              description: The display name of the user who created the drive
                              x-ms-summary: Display Name
                              x-ms-visibility: important
                          description: User information
                          x-ms-summary: User
                          x-ms-visibility: important
                      description: Created by information
                      x-ms-summary: Created By
                      x-ms-visibility: important
                    owner:
                      type: object
                      properties:
                        user:
                          type: object
                          properties:
                            email:
                              type: string
                              description: The email of the owner
                              x-ms-summary: Email
                              x-ms-visibility: important
                            id:
                              type: string
                              description: The ID of the owner
                              x-ms-summary: User ID
                              x-ms-visibility: important
                            displayName:
                              type: string
                              description: The display name of the owner
                              x-ms-summary: Display Name
                              x-ms-visibility: important
                          description: User information
                          x-ms-summary: User
                          x-ms-visibility: important
                      description: Owner information
                      x-ms-summary: Owner
                      x-ms-visibility: important
                    quota:
                      type: object
                      properties:
                        deleted:
                          type: integer
                          format: int32
                          description: The amount of deleted space in the drive
                          x-ms-summary: Deleted Space
                          x-ms-visibility: important
                        remaining:
                          type: integer
                          format: int32
                          description: The remaining space in the drive
                          x-ms-summary: Remaining Space
                          x-ms-visibility: important
                        state:
                          type: string
                          description: The state of the drive
                          x-ms-summary: State
                          x-ms-visibility: important
                        total:
                          type: integer
                          format: int32
                          description: The total space in the drive
                          x-ms-summary: Total Space
                          x-ms-visibility: important
                        used:
                          type: integer
                          format: int32
                          description: The used space in the drive
                          x-ms-summary: Used Space
                          x-ms-visibility: important
                      description: Quota information
                      x-ms-summary: Quota
                      x-ms-visibility: important
                    lastModifiedBy:
                      type: object
                      properties:
                        user:
                          type: object
                          properties:
                            email:
                              type: string
                              description: The email of the user who last modified the drive
                              x-ms-summary: Email
                              x-ms-visibility: important
                            id:
                              type: string
                              description: The ID of the user who last modified the drive
                              x-ms-summary: User ID
                              x-ms-visibility: important
                            displayName:
                              type: string
                              description: The display name of the user who last modified the drive
                              x-ms-summary: Display Name
                              x-ms-visibility: important
                          description: User information
                          x-ms-summary: User
                          x-ms-visibility: important
                      description: Last modified by information
                      x-ms-summary: Last Modified By
                      x-ms-visibility: important
  /sites/{siteID}/drives/{driveID}/root/children:
    get:
      summary: List All Children
      operationId: ListChildren
      description: Lists all files within a given drive
      parameters:
        - $ref: '#/parameters/siteID'
        - $ref: '#/parameters/driveID'
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              '@odata.context':
                type: string
                description: OData context URL
                x-ms-summary: OData Context
                x-ms-visibility: important
              value:
                type: array
                items:
                  type: object
                  properties:
                    createdBy:
                      type: object
                      properties:
                        user:
                          type: object
                          properties:
                            email:
                              type: string
                              description: The email of the user who created the item
                              x-ms-summary: Email
                              x-ms-visibility: important
                            id:
                              type: string
                              description: The ID of the user who created the item
                              x-ms-summary: User ID
                              x-ms-visibility: important
                            displayName:
                              type: string
                              description: The display name of the user who created the item
                              x-ms-summary: Display Name
                              x-ms-visibility: important
                          description: User information
                          x-ms-summary: User
                          x-ms-visibility: important
                      description: Created by information
                      x-ms-summary: Created By
                      x-ms-visibility: important
                    createdDateTime:
                      type: string
                      description: The date and time the item was created
                      x-ms-summary: Created DateTime
                      x-ms-visibility: important
                    eTag:
                      type: string
                      description: The ETag of the item
                      x-ms-summary: ETag
                      x-ms-visibility: important
                    id:
                      type: string
                      description: The unique identifier of the item
                      x-ms-summary: Item ID
                      x-ms-visibility: important
                    lastModifiedBy:
                      type: object
                      properties:
                        user:
                          type: object
                          properties:
                            email:
                              type: string
                              description: The email of the user who last modified the item
                              x-ms-summary: Email
                              x-ms-visibility: important
                            id:
                              type: string
                              description: The ID of the user who last modified the item
                              x-ms-summary: User ID
                              x-ms-visibility: important
                            displayName:
                              type: string
                              description: The display name of the user who last modified the item
                              x-ms-summary: Display Name
                              x-ms-visibility: important
                          description: User information
                          x-ms-summary: User
                          x-ms-visibility: important
                      description: Last modified by information
                      x-ms-summary: Last Modified By
                      x-ms-visibility: important
                    lastModifiedDateTime:
                      type: string
                      description: The date and time the item was last modified
                      x-ms-summary: Last Modified DateTime
                      x-ms-visibility: important
                    name:
                      type: string
                      description: The name of the item
                      x-ms-summary: Name
                      x-ms-visibility: important
                    parentReference:
                      type: object
                      properties:
                        driveType:
                          type: string
                          description: The type of the drive
                          x-ms-summary: Drive Type
                          x-ms-visibility: important
                        driveId:
                          type: string
                          description: The ID of the drive
                          x-ms-summary: Drive ID
                          x-ms-visibility: important
                        id:
                          type: string
                          description: The ID of the parent item
                          x-ms-summary: Parent Item ID
                          x-ms-visibility: important
                        name:
                          type: string
                          description: The name of the parent item
                          x-ms-summary: Parent Item Name
                          x-ms-visibility: important
                        path:
                          type: string
                          description: The path of the parent item
                          x-ms-summary: Parent Item Path
                          x-ms-visibility: important
                        siteId:
                          type: string
                          description: The ID of the site
                          x-ms-summary: Site ID
                          x-ms-visibility: important
                      description: Parent reference information
                      x-ms-summary: Parent Reference
                      x-ms-visibility: important
                    webUrl:
                      type: string
                      description: The URL of the item
                      x-ms-summary: Web URL
                      x-ms-visibility: important
                    cTag:
                      type: string
                      description: The cTag of the item
                      x-ms-summary: CTag
                      x-ms-visibility: important
                    fileSystemInfo:
                      type: object
                      properties:
                        createdDateTime:
                          type: string
                          description: The date and time the file system was created
                          x-ms-summary: Created DateTime
                          x-ms-visibility: important
                        lastModifiedDateTime:
                          type: string
                          description: The date and time the file system was last modified
                          x-ms-summary: Last Modified DateTime
                          x-ms-visibility: important
                      description: File system information
                      x-ms-summary: File System Info
                      x-ms-visibility: important
                    folder:
                      type: object
                      properties:
                        childCount:
                          type: integer
                          format: int32
                          description: The number of children in the folder
                          x-ms-summary: Child Count
                          x-ms-visibility: important
                      description: Folder information
                      x-ms-summary: Folder
                      x-ms-visibility: important
                    shared:
                      type: object
                      properties:
                        scope:
                          type: string
                          description: The scope of the shared item
                          x-ms-summary: Scope
                          x-ms-visibility: important
                      description: Shared information
                      x-ms-summary: Shared
                      x-ms-visibility: important
                    size:
                      type: integer
                      format: int32
                      description: The size of the item
                      x-ms-summary: Size
                      x-ms-visibility: important
    post:
      summary: Add Folder
      description: Adds a folder to a drive
      operationId: AddFolder
      parameters:
        - $ref: '#/parameters/siteID'
        - $ref: '#/parameters/driveID'
        - $ref: '#/parameters/body'
      responses:
        '201':
          description: Folder created successfully
          schema:
            type: object
            properties:
              @odata.context:
                type: string
                description: OData context URL
                x-ms-summary: OData Context
                x-ms-visibility: important
              @odata.etag:
                type: string
                description: OData ETag
                x-ms-summary: OData ETag
                x-ms-visibility: important
              createdDateTime:
                type: string
                format: date-time
                description: The date and time the folder was created
                x-ms-summary: Created DateTime
                x-ms-visibility: important
              eTag:
                type: string
                description: The ETag of the folder
                x-ms-summary: ETag
                x-ms-visibility: important
              id:
                type: string
                description: The unique identifier of the folder
                x-ms-summary: Folder ID
                x-ms-visibility: important
              lastModifiedDateTime:
                type: string
                format: date-time
                description: The date and time the folder was last modified
                x-ms-summary: Last Modified DateTime
                x-ms-visibility: important
              name:
                type: string
                description: The name of the folder
                x-ms-summary: Name
                x-ms-visibility: important
              size:
                type: integer
                description: The size of the folder
                x-ms-summary: Size
                x-ms-visibility: important
              webUrl:
                type: string
                description: The URL of the folder
                x-ms-summary: Web URL
                x-ms-visibility: important
              cTag:
                type: string
                description: The cTag of the folder
                x-ms-summary: CTag
                x-ms-visibility: important
              commentSettings:
                type: object
                properties:
                  commentingDisabled:
                    type: object
                    properties:
                      isDisabled:
                        type: boolean
                        description: Indicates if commenting is disabled
                        x-ms-summary: Commenting Disabled
                        x-ms-visibility: important
                description: Comment settings
                x-ms-summary: Comment Settings
                x-ms-visibility: important
              createdBy:
                type: object
                properties:
                  application:
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: The display name of the application
                        x-ms-summary: Application Display Name
                        x-ms-visibility: important
                      id:
                        type: string
                        description: The ID of the application
                        x-ms-summary: Application ID
                        x-ms-visibility: important
                  user:
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: The display name of the user
                        x-ms-summary: User Display Name
                        x-ms-visibility: important
                description: Created by information
                x-ms-summary: Created By
                x-ms-visibility: important
              lastModifiedBy:
                type: object
                properties:
                  application:
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: The display name of the application
                        x-ms-summary: Application Display Name
                        x-ms-visibility: important
                      id:
                        type: string
                        description: The ID of the application
                        x-ms-summary: Application ID
                        x-ms-visibility: important
                  user:
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: The display name of the user
                        x-ms-summary: User Display Name
                        x-ms-visibility: important
                description: Last modified by information
                x-ms-summary: Last Modified By
                x-ms-visibility: important
              parentReference:
                type: object
                properties:
                  driveId:
                    type: string
                    description: The ID of the drive
                    x-ms-summary: Drive ID
                    x-ms-visibility: important
                  driveType:
                    type: string
                    description: The type of the drive
                    x-ms-summary: Drive Type
                    x-ms-visibility: important
                  id:
                    type: string
                    description: The ID of the parent item
                    x-ms-summary: Parent Item ID
                    x-ms-visibility: important
                  path:
                    type: string
                    description: The path of the parent item
                    x-ms-summary: Parent Item Path
                    x-ms-visibility: important
  /sites/{siteID}/drives/{driveID}/items/{itemID}/invite:
    post:
      summary: Add User to Item Permission
      operationId: AddItemPermission
      description: Add User to Item Permission
      parameters:
        - name: siteID
          in: path
          required: true
          type: string
        - name: driveID
          in: path
          required: true
          type: string
        - name: itemID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              recipients:
                type: array
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      description: email
                description: recipients
              message:
                type: string
                description: message
              requireSignIn:
                type: boolean
                description: requireSignIn
              sendInvitation:
                type: boolean
                description: sendInvitation
              roles:
                type: array
                items:
                  type: string
                description: roles
      responses:
        '200':
          description: User added to item permission successfully
          schema:
            type: object
            properties:
              '@odata.context':
                type: string
                description: '@odata.context'
              value:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    roles:
                      type: array
                      items:
                        type: string
                      description: roles
                    grantedTo:
                      type: object
                      properties:
                        user:
                          type: object
                          properties:
                            email:
                              type: string
                              description: email
                            id:
                              type: string
                              description: id
                            displayName:
                              type: string
                              description: displayName
                          description: user
                      description: grantedTo
  /sites/{siteID}/drives/{driveID}/items/{itemID}/permissions/{permissionID}:
    delete:
      summary: Remove Item Permission
      description: Removes users access from an item
      operationId: RemoveItemPermission
      parameters:
        - $ref: '#/parameters/siteID'
        - $ref: '#/parameters/driveID'
        - $ref: '#/parameters/itemID'
        - $ref: '#/parameters/permissionID'
      responses:
        '204':
          description: Permission removed successfully
          schema: {}
  /sites/{siteID}/drives/{driveID}/items/{itemID}/children:
    post:
      summary: Add Sub Folder
      description: Adds a sub folder to a drive item
      operationId: AddSubFolder
      parameters:
        - $ref: '#/parameters/siteID'
        - $ref: '#/parameters/itemID'
        - $ref: '#/parameters/driveID'
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              name:
                type: string
                description: name
              folder:
                type: object
                properties:
                  name:
                    type: string
                    description: name
                description: folder
      responses:
        '201':
          description: Sub folder created successfully
          schema: {}
  /drives/{driveID}/items/{itemID}:/{fileName}:/content:
    put:
      summary: Upload File
      operationId: UploadFile
      description: Upload a file to a drive
      parameters:
        - $ref: '#/parameters/driveID'
        - $ref: '#/parameters/itemID'
        - $ref: '#/parameters/fileName'
        - name: body
          in: body
          required: true
          schema:
            type: string
            title: File Content
            format: binary
      responses:
        '200':
          description: File uploaded successfully
          schema: {}
  /drives/{driveID}/items/{itemID}/children:
    get:
      summary: Get Item Children
      operationId: GetItemChildren
      parameters:
        - $ref: '#/parameters/driveID'
        - $ref: '#/parameters/itemID'
      responses:
        '200':
          description: Successful response
          schema: {}
  /drives/{driveID}/items/{itemID}/content:
    get:
      summary: Convert File Format
      operationId: ConvertFileFormat
      parameters:
        - $ref: '#/parameters/driveID'
        - $ref: '#/parameters/itemID'
        - name: format
          in: query
          required: false
          type: string
          description: >-
            Converts csv, doc, docx, odp, ods, odt, pot, potm, potx, pps, ppsx,
            ppsxm, ppt, pptm, pptx, rtf, xls, xlsx the item into PDF format.
          enum:
            - pdf
      responses:
        '200':
          description: File converted successfully
          schema: {}
        '302':
          description: File found at another location
          schema: {}
  /sites/{siteID}/drives/{driveID}/items/{itemID}/permissions:
    get:
      summary: getPermissions
      operationId: GetPermissions
      description: Get all the permissions for the specified folder.
      parameters:
        - $ref: '#/parameters/siteID'
        - $ref: '#/parameters/driveID'
        - $ref: '#/parameters/itemID'
      responses:
        '200':
          description: Successful response
          schema: {}
definitions: {}
parameters:
  tenantPrefix:
    name: tenantPrefix
    in: path
    required: true
    type: string
    description: The tenant prefix for the SharePoint site.
    x-ms-summary: Tenant Prefix
    x-ms-visibility: important
  siteName:
    name: siteName
    in: path
    required: true
    type: string
    description: The name of the SharePoint site.
    x-ms-summary: Site Name
    x-ms-visibility: important
  sitePath:
    name: sitePath
    in: path
    required: true
    type: string
    description: The path of the SharePoint site.
    enum:
      - teams
      - sites
    x-ms-summary: Site Path
    x-ms-visibility: important
  siteID:
    name: siteID
    in: path
    required: true
    type: string
    description: The ID of the SharePoint site.
    x-ms-summary: Site ID
    x-ms-visibility: important
  driveID:
    name: driveID
    in: path
    required: true
    type: string
    description: The ID of the drive.
    x-ms-summary: Drive ID
    x-ms-visibility: important
  itemID:
    name: itemID
    in: path
    required: true
    type: string
    description: The ID of the item.
    x-ms-summary: Item ID
    x-ms-visibility: important
  permissionID:
    name: permissionID
    in: path
    required: true
    type: string
    description: The ID of the permission.
    x-ms-summary: Permission ID
    x-ms-visibility: important
  fileName:
    name: fileName
    in: path
    required: true
    type: string
    description: The name of the file.
    x-ms-summary: File Name
    x-ms-visibility: important
  body:
    name: body
    in: body
    required: false
    schema:
      type: object
      properties:
        name:
          type: string
          description: name
        folder:
          type: object
          properties:
            name:
              type: string
              description: name
      description: The body of the request.
    x-ms-summary: Request Body
    x-ms-visibility: important
responses: {}
securityDefinitions:
  oauth2-auth:
    type: oauth2
    flow: accessCode
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes:
      sites.selected: sites.selected
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
  oAuthClientCredentials:
    type: oauth2
    flow: application
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes:
      sites.selected: sites.selected
security:
  - oauth2-auth:
      - sites.selected
  - oAuthClientCredentials:
      - sites.selected
tags: []